*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    color: white;
    background: #181818;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: red;
}

/*BODY*/

.web article{
    margin: 10px 20px;
}

.cybersecurity article{
    margin: 10px 20px;
}

.section-web, .section-cyber{
    background-color: red;
    text-align: center;
}

.text-skill{
    text-align: center;
    margin-top: 20px;
}

.bootstrap-icon, .virtual, .nmap, .phistool{
    width: 40px;
    height: 40px;
}

.stuff-web{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/*MEDIA*/

@media (max-width: 1439px) {
    .stuff-web{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}



@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
